.slick-prev,
.slick-next {
  z-index: 999;
  width: 40px;
  height: 40px;
}

.hero-slider-wrapper {
  position: relative;
  overflow: hidden; /* scrollbar fix */
}
.hero-slider {
  width: 100%;
  height: 600px;
}

.hero-slider .slick-slide {
  height: 600px;
}

.hero-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-slider,
  .hero-slider .slick-slide {
    height: 250px;
  }
}
