.slick-prev,
.slick-next {
  z-index: 999;
  width: 40px;
  height: 40px;
}

.hero-slider-wrapper {
  position: relative;
  overflow: hidden; /* scrollbar fix */
}
.hero-slider {
  width: 100%;
  height: 600px;
}

.hero-slider .slick-slide {
  height: 600px;
}

.hero-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-slider,
  .hero-slider .slick-slide {
    height: 250px;
  }
}

.slide-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.45); */
  padding: 20px 30px;
  border-radius: 6px;
}

.slide-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.slide-text p {
  font-size: 18px;
}
.hero-slider .slide {
  position: relative;
}
